











p {
   text-alingn: center;
   background: #CCCCCC;
}

 #missao {
          fint-size: 20px;
 }

  em strong {
            color: #FF)000;
  }                                                  

  .itens {0
     fint-style: italic;
  }
h2 {
    text-align: center;
}
